body
{
    background: url("../images/bg.jpg")
        no-repeat center center fixed;
    background-size: cover;
    font-family: 'Shrikhand', cursive;
}

div
{
    background-color: #dd4814;
    width: 40%;
    text-align: center;
    margin:100px auto;
    border-radius: 25px;
    opacity: 0.75;
}

h1
{
    font-size: 4em;
}

p
{
    font-size: 1.8em;
}

button
{
    font-size: 2em;
    border-radius: 10px;
    padding: 15px;
    
}

i
{
    color: white;
    font-size: 4em;
}